@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");

:root {
  --primary-color: #f3db4c;
  --primary-dark-color: #f3ca4c;
  --primary-light-color: #f7e682; // 40% from --primary-color

  --primary-bg: #f2f2f2;
  --secondary-bg: #343434;

  --font-family: "Poppins", sans-serif;
}

body {
  background: var(--primary-bg);
  margin: 0;
  font-family: var(--font-family);
}

// ----- Typography -----
h2 {
  font-size: 2em;
  margin: 0;
}

a {
  color: #444444;
}

// -------- Layout --------
ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

section {
  padding: 4em 1em;
}

iframe {
  width: 100%;
  height: 300px;
}

// --------- Navbar ---------
.navbar {
  background: white;
  padding: 1em;

  .container {
    display: flex;
    place-content: space-between;
  }

  .logo {
    text-decoration: none;
    font-weight: bold;
    color: black;
    font-size: 1.2em;

    span {
      color: var(--primary-color);
    }
  }

  nav {
    display: none;
    position: fixed;
    z-index: 9999;
    width: 66%;
    right: 0;
    top: 0;
    background: var(--secondary-bg);
    height: 100vh;
    padding: 1em;

    ul.primary-nav {
      margin-top: 5em;
    }

    li {
      a {
        color: white;
        text-decoration: none;
        display: block;
        padding: 0.5em;
        font-size: 1.2em;
        text-align: right;
        &:hover {
          font-weight: bold;
        }
      }
    }
  }

  nav.menu-btn {
    display: block;
  }

  .mobile-menu {
    cursor: pointer;
  }

  .mobile-menu-exit {
    float: right;
    // margin: 0.5em;
    cursor: pointer;
  }
}

// ---------- Hero -----------
.hero {
  text-align: center;
}

.left-col {
  .subhead {
    text-transform: uppercase;
    font-weight: bold;
    color: gray;
    letter-spacing: 0.3em;
    font-size: 0.9em;
  }

  h1 {
    font-size: 2em;
    line-height: 1.3em;
    margin-top: 0.2em;
  }

  .primary-cta {
    // background: var(--primary-color);
    // color: white;
    text-decoration: none;
    padding: 0.6em 1.3em;
    font-size: 1.2em;
    font-weight: bold;
    border-radius: 5em;
    display: inline-block;

    color: var(--primary-color);
    border: 3px solid var(--primary-color);
    &:hover {
      background: var(--primary-color);
      color: white;
    }
  }

  .watch-video-cta {
    display: block;
    margin-top: 1em;
    img {
      margin-right: 0.5em;
      height: 13px;
    }
  }
}

.hero-img {
  width: 70%;
  margin-top: 3em;
  border-radius: 0.3em;
}

// --------- Features ---------
section.features-section {
  background: var(--secondary-bg);
  color: white;
}

ul.features-list {
  margin: 0;
  padding-left: 0.1em;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));

  li {
    font-size: 1em;
    margin-bottom: 1em;
    margin-left: 2em;
    position: relative;
    &::before {
      content: "";
      left: -2em;
      position: absolute;
      width: 15px;
      height: 15px;
      background-image: url("../icons/bullet.svg");
      background-size: contain;
      margin-right: 0.5em;
      margin-top: 0.25em;
    }
  }
}

.features-section img {
  display: none;
}

// ------- Testimonials --------
.testimonials-section {
  background: var(--primary-light-color);
  color: var(--secondary-bg);

  li {
    background: var(--primary-color);
    text-align: center;
    // padding: 2em 1em;
    width: 80%;
    transition: transform 0.2s;
    margin: 0 auto 5em auto;
    border-radius: 0.25em;
    font-size: 0.9em;
    font-weight: bold;

    // blockquote {
    //   margin: 0;
    // }

    // cite {
    //   margin-left: -1em;
    // }

    img {
      width: 100%;
      height: 100%;
      // border: 5px solid var(--primary-color);
      // border-radius: 50%;
      // margin-top: -4.5em;
    }

    .footer {
      text-align: center;
      padding: 1rem 1.25rem;
    }

    &:hover, &:focus, &:active {
      transform: scale(1.1);
      -ms-transform: scale(1.1);
      -webkit-transform: scale(1.1);
    }

    // &:first-child {
    //   margin-top: 2em;
    // }

    &:last-child {
      margin-bottom: 0;
    }
  }
}

// ---------- Contact ----------
label {
  display: block;
  font-size: 1em;
  margin-bottom: 0.5em;
}

input,
textarea {
  width: 100%;
  padding: 0.8em;
  margin-bottom: 1em;
  border-radius: 0.3em;
  border: 1px solid gray;
  box-sizing: border-box;
}

textarea {
  font-family: var(--font-family);
}

input[type="submit"] {
  background: var(--primary-color);
  color: white;
  cursor: pointer;
  font-weight: bold;
  font-size: 1.1em;
  border: none;
  margin-bottom: 5em;
  border-radius: 5em;
  display: inline-block;
  padding: 0.8em 2em;
  width: 100%;
}

// -------- Media queries --------
// Min-width: 281px, normal phone.
@media only screen and (min-width: 281px) {
  section {
    padding: 5em 2em;
  }

  .left-col {
    .subhead {
      font-size: 1em;
    }
    h1 {
      font-size: 2.5em;
    }
    .primary-cta {
      font-size: 1.4em;
    }
  }

  ul.features-list {
    li {
      font-size: 1.1em;
      &::before {
        width: 20px;
        height: 20px;
      }
    }
  }

  label {
    font-size: 1.1em;
  }

  input {
    font-size: 0.9em;
  }

  input[type="submit"] {
    font-size: 1.3em;
  }
}

// Min-width: 768px, tablet views.
@media only screen and (min-width: 768px) {
  .mobile-menu,
  .mobile-menu-exit {
    display: none;
  }

  .navbar .container {
    display: grid;
    grid-template-columns: 180px auto;
    justify-content: unset;
  }

  .navbar nav {
    display: flex;
    justify-content: space-between;
    background: none;
    position: unset;
    height: auto;
    width: 100%;
    padding: 0;

    ul {
      display: flex;
    }

    li {
      a {
        color: black;
        font-size: 1em;
        padding: 0.1em 1em;
      }
    }

    ul.primary-nav {
      margin: 0;
    }

    li.current a {
      font-weight: bold;
    }

    li.go-premium-cta a {
      color: var(--primary-color);
      border: 3px solid var(--primary-color);
      font-weight: bold;
      border-radius: 5em;
      margin-top: -0.2em;
      &:hover {
        background: var(--primary-color);
        color: white;
      }
    }
  }

  ul.features-list {
    li {
      margin-right: 0.5em;
    }
  }

  .testimonials-section {
    ul {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(15em, 1fr));
      grid-gap: 2em;
    }

    li {
      margin: 0;
      width: 100%;
      font-size: 1em;
      // blockquote {
      //   margin: 1em 2.5em;
      // }
    }


  }

  input[type="submit"] {
    width: unset;
  }
}

// Min-width: 1080px, notebook views.
@media only screen and (min-width: 1080px) {
  .container {
    margin: 0 auto;
  }

  section {
    padding: 10em 4em;
  }

  .hero .container {
    display: flex;
    justify-content: space-between;
    text-align: left;

    .left-col {
      margin: 3em 3em 0 5em;

      h1 {
        font-size: 3em;
        width: 90%;
      }
    }
  }

  .hero-img {
    width: 30%;
    margin-right: 5em;
  }

  .hero-cta {
    display: flex;
  }

  .primary-cta {
    margin-right: 1em;
  }

  ul.features-list {
    display: block;
    margin-left: 5em;

    li {
      font-size: 1.4em;
      &::before {
        width: 30px;
        height: 30px;
        margin-top: 0;
      }
    }
  }

  .features-section {
    position: relative;
  }

  .features-section img {
    display: block;
    position: absolute;
    right: 0;
    width: 350px;
    bottom: -2em;
  }

  .testimonials-section ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    row-gap: 4em;

    li {
      width: 15em;
      margin: 0 1em !important;
    }
  }

  .contact-section {
    position: relative;
    .container {
      display: flex;
    }
  }

  .contact-left {
    margin-left: 5em;
  }

  .contact-right {
    position: absolute;
    right: 0;
    top: 0;
    width: 45%;
    height: 100%;
    iframe {
      height: 100%;
    }
  }
}

// Min-width: 1450px, Large and wide views.
@media only screen and (min-width: 1450px) {
  .container {
    width: 1080px;
  }

  .features-section {
    &::before {
      content: "";
      position: absolute;
      height: 20em;
      width: 10%;
      background: var(--primary-color);
      top: -4em;
      left: 0;
    }
    &::after {
      content: "";
      position: absolute;
      height: 20em;
      width: 200px;
      background: url("../icons/dots.svg") no-repeat;
      left: 4.5em;
      top: 2em;
    }
  }
}
